@using TravelTripProje.Models.Siniflar
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KULLANICI</th>
        <th>MAIL</th>
        <th>YORUM</th>
        <th>BLOG</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach(var x in Model)
    {
    <tr>
        <td>@x.ID</td>
        <td>@x.KullaniciAdi</td>
        <td>@x.Mail</td>
        <td>@x.Yorum</td>
        <td>@x.Blog.Baslik</td> 
        <td><a class="btn btn-danger" href="/Admin/YorumSil/@x.ID">SİL</a></td> 
        <td><a class="btn btn-warning" href="/Admin/YorumGetir/@x.ID">GÜNCELLE</a></td> 
    </tr>
    }
</table>
